* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #8e90fc;
    background-image: linear-gradient(62deg, #8e90fc 0%, #E0C3FC 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

.body-class {
    display: flex;
    justify-content: center;
}

#contenedor {
    width: 85%;
    margin: 1rem;
}

.titulo-header {
    text-align: center;
    padding: 1rem;
    background-color: rgba(167, 81, 216, 0.747);
    border-radius: 1rem;
    margin: 1rem;
}

nav {
    height: 5%;
    margin: 1rem;
    background-color: rgb(210, 167, 248);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px;
}

ul li {
    list-style: none;
    display: inline-block;
    justify-content: center;
    text-align: center;
    border-bottom: 1px;
}

li a {
    display: block;
    color: white;
    padding: 20px 50px;
    text-decoration: none;
}

li a:hover {
    border-radius: 1rem;
    background-color: rgb(199, 124, 250);
    color: white;
}

li a:active {
    background-color: rgb(139, 70, 230);
    color: white;
    box-shadow: 3px 3px rgb(15, 3, 43);
}

#contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    width: 75%;
    border-radius: 1em;
    padding: 10px 20px;
    background-color: rgb(199, 144, 250);
    margin-right: 1rem;
}

.img-sub {
    width: 200px;
    height: 150px;
    float: right;
    margin: 10px;
}

.img-sub2 {
    width: 200px;
    height: 150px;
    margin: 8px;
    float: left;
}

.subt {
    font-size: 23px;
}

.publicacion {
    font-size: 16px;
    color: rgb(59, 59, 59);
}

iframe {
    width: 292px;
    height: 300px;
    float: left;
}

aside {
    background-color: rgb(195, 161, 250);
    height: 16%;
    width: 20%;
    border-radius: 1rem;
    margin: 0.2rem;
    margin-left: 1rem;
}

.tituloaside {
    font-size: 18px;
    padding: 10px 20px;
}

.twitter-timeline {
    display: flex;
    justify-content: center;
}

footer {
    width: 80%;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
    padding: 8px;
    align-items: center;
    background-color: rgb(187, 136, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
}

.footer-div {
    display: flex;
    justify-content: center;
}

.buttons {
    min-width: 100px;
    display: flex;
    justify-content: space-around;
}

.buttons a {
    margin: 1rem;
    text-decoration: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 2px;
    text-align: center;
    background-color: rgb(132, 56, 182);
    color: rgb(255, 255, 255);
    border-radius: 1em;
    box-shadow: 2px 2px 5px rgb(3, 2, 12);
    transition: all .3s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.3);
}

.titulo-footer {
    font-size: 30px;
}

@media screen and (max-width: 1024px) {
    #contenedor {
        width: 100%;
    }

    aside {
        display: none;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 320px) {}