* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(https://pbs.twimg.com/media/FABTGRQWYAAz2d4.jpg);
    background-color: rgba(7, 4, 24, 0.918);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: center;
    border-radius: 1em;
}

ul li {
    list-style: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    height: 15%;
    margin: 1em;
}

a {
    background-color: rgba(55, 12, 77, 0.445);
    text-decoration: none;
    color: rgb(255, 250, 250);
    padding: 1rem;
    border-radius: 1rem;
}

nav ul li a:hover {
    border-radius: 0.5em;
    background-color: rgba(24, 1, 39, 0.781);
}

nav ul li a:active {
    box-shadow: 5px 5px rgba(114, 85, 245, 0.842);
    background-color: rgba(57, 23, 119, 0.562);
}

.codplayTitulo {
    display: flex;
    justify-content: center;
}

.codplayTitulo img {
    width: 40%;
    margin: 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 15%;
    border-radius: 1em;
    margin: 1em;
    display: inline-flexbox;
    text-align: center;
    padding: 8px 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.527);
}

.footer-div {
    display: flex;
    justify-content: center;
}

.buttons {
    min-width: 100px;
    display: flex;
    justify-content: space-around;
}

.buttons a {
    text-decoration: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 2px;
    text-align: center;
    background-color: rgb(132, 56, 182);
    color: rgb(255, 255, 255);
    border-radius: 1em;
    box-shadow: 2px 2px 5px rgb(3, 2, 12);
    transition: all .3s ease-in-out;
}

.buttons a:hover {
    transform: scale(1.3);
}

.titulo-footer {
    font-size: 30px;
    color: white;
}

/*body{
    background-image: url(https://pbs.twimg.com/media/FABTGRQWYAAz2d4.jpg);
    background-color: rgba(7, 4, 24, 0.918);
    background-size: cover;
    background-repeat: no-repeat;
}
#contenedor {
    margin: auto;
    margin-top: 40px;
    width: 1200px;
    height: 1000px;
    padding: 1px;
}
header{
    border-radius: 1em;
    margin: 1em;
    height: 15%;
    background-color: rgba(15, 14, 15, 0.007);
}
.img-header{
    height: 150px;
    width: 370px;
    justify-content: center;
}
nav{
    height: 25%; 
    margin: 1em;
    border-radius: 1em;
    background-color: rgba(33, 6, 46, 0.089);
}
nav ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 1px 380px;
    list-style: none;
    justify-content: center;
}
nav ul li a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 10px 90px;
    justify-content: center;
}
nav ul li a:hover{
    border-radius: 0.5em;
    background-color: rgba(24, 1, 39, 0.781);
}
nav ul li a:active{
    box-shadow: 5px 5px rgba(114, 85, 245, 0.842);
    background-color: rgba(57, 23, 119, 0.562);
}
.inicio-pos{
    padding: 10px 125px;
}
.bio-pos{
    padding: 10px 100px;
}
#contenido{
    height: 38%;
    margin: 1em;
}

footer{
    height: 15%;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
    padding: 30px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.527);
}
.buttons{
    min-width: 100px;
    display: flex;
    justify-content: space-around;
}
.buttons a{
    text-decoration: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(132, 56, 182);
    color: cornsilk;
    border-radius: 1em;
    box-shadow: 2px 2px 5px rgb(3, 2, 12);
    transition: all .4s ease-in-out;
}
.buttons a:hover{
    transform: scale(1.2);
}
.titulo-footer{
    font-size: 30px;
    color: white;
}*/